html{
    background-color: #F0F8FF;
    padding: 0 10px 0 10px;
}

@font-face {
    font-family: Juno Regular;
    src: url(Juno-Regular.ttf);
  }

h1, h3{
    font-family: Juno Regular;
}

p, ol{
    font-family: Arial;
    font-size: smaller;
}